[submodule "copilot.el"]
	path = copilot.el
	url = https://github.com/copilot-emacs/copilot.el
[submodule "lisp/f.el"]
	path = lisp/f.el
	url = https://github.com/rejeep/f.el
[submodule "lisp/s.el"]
	path = lisp/s.el
	url = https://github.com/magnars/s.el
[submodule "lisp/aibo"]
	path = lisp/aibo
	url = https://github.com/dmed256/aibo.git
[submodule "lisp/ht.el"]
	path = lisp/ht.el
	url = https://github.com/Wilfred/ht.el
[submodule "lisp/ts.el"]
	path = lisp/ts.el
	url = https://github.com/alphapapa/ts.el
[submodule "lisp/uuidgen-el"]
	path = lisp/uuidgen-el
	url = https://github.com/kanru/uuidgen-el
[submodule "lisp/pyvenv"]
	path = lisp/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "lisp/themes/haki"]
	path = lisp/themes/haki
	url = https://github.com/idlip/haki
[submodule "lisp/themes/emacs-kaolin-themes"]
	path = lisp/themes/emacs-kaolin-themes
	url = https://github.com/ogdenwebb/emacs-kaolin-themes
[submodule "lisp/hl-fill-column"]
	path = lisp/hl-fill-column
	url = https://github.com/laishulu/hl-fill-column
[submodule "lisp/emacs-web-server"]
	path = lisp/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "lisp/emacs-zmq"]
	path = lisp/emacs-zmq
	url = https://github.com/ebrevdo/emacs-zmq
[submodule "lisp/jupyter"]
	path = lisp/jupyter
	url = https://github.com/emacs-jupyter/jupyter
[submodule "lisp/code-review"]
	path = lisp/code-review
	url = https://github.com/wandersoncferreira/code-review
[submodule "lisp/closql"]
	path = lisp/closql
	url = https://github.com/magit/closql
[submodule "lisp/ghub"]
	path = lisp/ghub
	url = https://github.com/magit/ghub
[submodule "lisp/treepy.el"]
	path = lisp/treepy.el
	url = https://github.com/volrath/treepy.el
[submodule "lisp/emacs-deferred"]
	path = lisp/emacs-deferred
	url = https://github.com/kiwanami/emacs-deferred
[submodule "lisp/a.el"]
	path = lisp/a.el
	url = https://github.com/plexus/a.el
[submodule "lisp/forge"]
	path = lisp/forge
	url = https://github.com/magit/forge
[submodule "lisp/yaml.el"]
	path = lisp/yaml.el
	url = https://github.com/zkry/yaml.el
[submodule "lisp/emacs-emojify"]
	path = lisp/emacs-emojify
	url = https://github.com/iqbalansari/emacs-emojify
[submodule "lisp/emacs-python-isort"]
	path = lisp/emacs-python-isort
	url = https://github.com/wyuenho/emacs-python-isort
[submodule "lisp/consult-eglot"]
	path = lisp/consult-eglot
	url = https://github.com/mohkale/consult-eglot
[submodule "lisp/blacken"]
	path = lisp/blacken
	url = https://github.com/pythonic-emacs/blacken
[submodule "lisp/emacs-ruff-format"]
	path = lisp/emacs-ruff-format
	url = https://github.com/scop/emacs-ruff-format
[submodule "lisp/ruff-fix.el"]
	path = lisp/ruff-fix.el
	url = https://github.com/mkt3/ruff-fix.el
[submodule "lisp/emacs-filelock"]
	path = lisp/emacs-filelock
	url = https://github.com/DarwinAwardWinner/emacs-filelock
[submodule "lisp/emacs-python-pytest"]
	path = lisp/emacs-python-pytest
	url = https://github.com/wbolster/emacs-python-pytest
[submodule "lisp/find-file-in-repository"]
	path = lisp/find-file-in-repository
	url = https://github.com/h/find-file-in-repository
[submodule "lisp/smart-jump"]
	path = lisp/smart-jump
	url = https://github.com/jojojames/smart-jump/
[submodule "lisp/command-log-mode"]
	path = lisp/command-log-mode
	url = https://github.com/lewang/command-log-mode
[submodule "lisp/simpleclip"]
	path = lisp/simpleclip
	url = https://github.com/rolandwalker/simpleclip
