[submodule "copilot.el"]
	path = copilot.el
	url = https://github.com/copilot-emacs/copilot.el
[submodule "lisp/f.el"]
	path = lisp/f.el
	url = https://github.com/rejeep/f.el
[submodule "lisp/s.el"]
	path = lisp/s.el
	url = https://github.com/magnars/s.el
[submodule "lisp/aibo"]
	path = lisp/aibo
	url = https://github.com/dmed256/aibo.git
[submodule "lisp/ht.el"]
	path = lisp/ht.el
	url = https://github.com/Wilfred/ht.el
[submodule "lisp/ts.el"]
	path = lisp/ts.el
	url = https://github.com/alphapapa/ts.el
[submodule "lisp/uuidgen-el"]
	path = lisp/uuidgen-el
	url = https://github.com/kanru/uuidgen-el
[submodule "lisp/pyvenv"]
	path = lisp/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv
[submodule "lisp/themes/haki"]
	path = lisp/themes/haki
	url = https://github.com/idlip/haki
[submodule "lisp/themes/emacs-kaolin-themes"]
	path = lisp/themes/emacs-kaolin-themes
	url = https://github.com/ogdenwebb/emacs-kaolin-themes
[submodule "lisp/hl-fill-column"]
	path = lisp/hl-fill-column
	url = https://github.com/laishulu/hl-fill-column
[submodule "lisp/emacs-web-server"]
	path = lisp/emacs-web-server
	url = https://github.com/skeeto/emacs-web-server
[submodule "lisp/emacs-zmq"]
	path = lisp/emacs-zmq
	url = https://github.com/nnicandro/emacs-zmq
[submodule "lisp/jupyter"]
	path = lisp/jupyter
	url = https://github.com/emacs-jupyter/jupyter
